nav {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    /*background: rgb(47, 32, 80);*/
}

nav .left {

    display: flex;
    align-items: center;
}

nav .left h1 {

    padding: 0 1em;
    font-size: 2rem;
    color: var(--text-primary-color);
    font-family: "Titillium Web", serif;
    transition: 0.3s ease-in-out;
}

nav .left h1:hover { color: white; }

nav .right {

    display: flex;
    justify-content: center;
    align-items: center;
}

nav .right a {

    margin: 0 2rem;
    color: var(--text-primary-color);
    font-family: "Titillium Web", serif;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-size: clamp(25px, 2vh, 200px);

}

nav .right a:hover { color: white; }

nav .login {

    background-color: var(--element-primary-color);
    padding: .5rem 1rem;
    border-radius: 10px;
}


nav .logout {

    width: 35px;
    height: 35px;
    fill: var(--text-error-color);
    margin-right: 1vw;
    margin-bottom: 0.8vh;
    transition: 0.2s linear;
}

.logout:hover {

    fill: white;
}

.logout:hover .logoutMessage {

    opacity: 1;
}

nav .userIcon {

    height: 40px;
    width: 40px;

    border-radius: 100%;
}

nav .logoutMessage {

    position: absolute;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-error-color);

    transform: translateX(-25%);

    opacity: 0;
    transition: .2s linear;
}



