form {

    display: flex;
    flex-direction: column;

    align-items: center;
}

label {

    margin: 1rem;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
}

.labelName {

    font-size: 1rem;
    color: var(--text-primary-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
}

input,
.select2-container--default .select2-selection--multiple {

    background: transparent !important;
    border: 1.5px solid var(--background-secondary-color) !important;
    border-radius: 10px !important;
    padding: 0.5rem !important;

    outline: none !important;

    color: var(--text-primary-color) !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
}

.select2-selection__choice {
    background-color: none !important;
    border: none !important;   
}

.select2-selection__choice__display {

    color: var(--text-primary-color) !important;
    background: #3f315c !important;
    padding: 0 0.5rem !important;
}



.select2-selection__choice__remove {

    background-color: #3f315c !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
}

#submit {

    background-color: var(--background-secondary-color);
    border-radius: 10px;
    border: 0px;
    color: var(--text-primary-color);
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    width: 100px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#submit:hover {
    background-color: var(--text-special-color);
    color: black;
}

.successMessage {

    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: var(--text-special-color);
    opacity: 0;

    animation: temporaryMessageAnimation 3s;
}

@keyframes temporaryMessageAnimation {
    0% { opacity: 0; }
    20% { opacity: 100%; }
    80% { opacity: 100%; }
    100% { opacity: 0; }
}

.invalidFeedback {

    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: var(--text-error-color);
    font-weight: 600;
}